[submodule "Libraries/OimoPhysics"]
	path = Libraries/OimoPhysics
	url = https://github.com/armory3d/OimoPhysics.git
[submodule "Libraries/oimo_module"]
	path = Libraries/oimo_module
	url = https://github.com/moisesjpelaez/oimo_module.git
[submodule "Libraries/koui_editor"]
	path = Libraries/koui_editor
	url = https://github.com/moisesjpelaez/koui_editor.git
[submodule "Subprojects/aura"]
	path = Subprojects/aura
	url = https://github.com/moisesjpelaez/aura.git
[submodule "Subprojects/Koui"]
	path = Subprojects/Koui
	url = https://gitlab.com/moises.jpelaez/Koui.git
	branch = runtime_theme_parser
[submodule "Libraries/libdragon"]
	path = Libraries/libdragon
	url = https://github.com/DragonMinded/libdragon.git
	branch = preview
[submodule "Libraries/tiny3d"]
	path = Libraries/tiny3d
	url = https://github.com/HailToDodongo/tiny3d.git
[submodule "Libraries/armor_64"]
	path = Libraries/armor_64
	url = https://github.com/moisesjpelaez/armor_64
